doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel='stylesheet', href='http://libs.baidu.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/div_md_10_css.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/dist/css/lightbox.min.css')
    script(src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js')
    script(src='http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/indexpage.js')
    script(src='/dist/js/lightbox.min.js')
  body
    block content

  
  